/* header */
#navbar a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px;
  font-size: 20px;
}
/* services style */
.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
/* service style*/
.service img {
  border-radius: 5px;
}
.service-detail {
  margin: 10px;
}
/* meadia query */
@media screen and (max-width: 576px) {
  .services-container {
    grid-template-columns: repeat (1, 1fr);
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .services-container {
    grid-template-columns: repeat (2, 1fr);
  }
}
